@{
    var returnUrl = ViewBag.ReturnUrl;
}
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <h4>Email с инструкциями был отправлен на указанную почту</h4>
                </p>
                @if (!string.IsNullOrEmpty(returnUrl))
                {
                    <a asp-action="Login" asp-route-returnUrl="@returnUrl" class="form-footer--link-btn">На главную</a>
                }
            </div>
        </div>
    </div>
</section><!--/form-->