@{
    var client = ViewBag.Client;
}

<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Пароль успешно изменён.</h4>
                <p>
                    Перейдите на
                    <a href="@client" class="form-footer--link-btn">страницу</a>, с которой был выполнен запрос на авторизацию, и выполните вход в систему.
                </p>
            </div>
        </div>
    </div>
</section><!--/form-->