@model ResetPasswordViewModel

<section id="form"><!--form-->

	<partial name="_ValidationSummary" />

    <div class="container">
        <div class="row top-buffer">

            <div class="col"></div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Сброс пароля</h3>
                    </div>

                    <div class="card-body">
                        <form asp-route="ResetPassword">

                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input type="password" class="form-control" placeholder="Пароль" asp-for="Password" autofocus>
                                <i class="fa-solid fa-eye fa-eye-identity" id="togglePassword"></i>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PasswordConfirm"></label>
                                <input type="password" class="form-control" placeholder="Подтверждение пароля" asp-for="PasswordConfirm" autocomplete="off">
                                <i class="fa-solid fa-eye fa-eye-identity" id="togglePasswordConfirm"></i>
                                <span asp-validation-for="PasswordConfirm" class="text-danger mb-3"></span>
                            </div>

                            <input type="hidden" asp-for="Email" class="form-control" />
                            <input type="hidden" asp-for="Token" class="form-control" />

                            <button class="btn btn-primary btn-single" name="button" value="submit">Создать новый пароль</button>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section><!--/form-->

@*Подключаем скрипт валидации формы на стороне браузера*@
@section Scripts
{
@*    <script type="text/javascript" src="@Url.Content("~/js/site.min.js")"></script>*@
	<partial name="_ValidationScriptsPartial" />
}