<section>
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Завершение регистрации.</h4>
                <p>
                    Пожалуйста, проверьте свою электронную почту для успешного завершения регистрации.
                </p>
            </div>
        </div>
    </div>
</section><!--/form-->