<div class="content-side-panel">
    <div class="header">
        <div class="header-content">

            <div class="actions-panel">
                <span class="title">
                    <span 
                        class="classifier" 
                        role="button"
                        tabindex="0"
                        aria-pressed="false"
                        [routerLink]="['../']"
                        matTooltip="Вернуться к списку справочников" matTooltipPosition="above">
                        <i class="bi bi-chevron-left"></i>
                    </span>
                    Организации
                </span>
                <span 
                    role="button"
                    tabindex="0"
                    aria-pressed="false"
                    (click)="addItem()"
                    (keydown)="addItem()"
                    matTooltip="Добавить" matTooltipPosition="above">
                    <i class="bi bi-plus-lg"></i>
                </span>
                <span 
                    *ngIf="selection.selected.length > 0"
                    role="button"
                    tabindex="0"
                    aria-pressed="false"
                    (click)="bulkDelete()"
                    (keydown)="bulkDelete()"
                    matTooltip="Удалить" matTooltipPosition="above">
                    <i class="bi bi-dash"></i>
                </span>
            </div>

            <div class="filters">
                <app-search-input [canClear]="canClearSearch" (searchChange)="onChangedSearch($event)"></app-search-input>

                <button class="btn btn-primary btn-sm" type="button" [disabled]="!loadingInfo.isResultFilter" 
                    (click)="clearFilter()" matTooltip="Очистить результат фильтрации">
                    <i class="bi bi-folder-symlink-fill"></i>
                </button>
            </div>

        </div>

        <div class="header-last-item last"> 
            <ng-container *ngTemplateOutlet="loadingInfo.isLoading ? progressBar : headerLastItem"></ng-container>
        </div>
    </div>

    <div class="body" #container app-side-drawer-container>
        <ng-container *ngIf="!loadingInfo.isNoContent && paginationInfo?.items === 0">
            <span class="no-content">Организации отсутствуют.. :-0</span>
        </ng-container>  
        <ng-container *ngIf="!loadingInfo.isNoContent && paginationInfo.items > 0 && dataSource.data.length > 0">
            <div class="sc-table">
                <table 
                    mat-table [dataSource]="dataSource" 
                    matSort (matSortChange)="announceSortChange($event)">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox 
                            (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox 
                            (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="name">
                    Наименование
                    </th>
                    <td mat-cell *matCellDef="let item" (click)="editItem(item.id)"> {{item.name}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Действия</th>
                    <td mat-cell *matCellDef="let item">
                        <div>
                            <span 
                                [matMenuTriggerFor]="menu"
                                role="button"
                                tabindex="0"
                                aria-pressed="false"
                                matTooltip="Выбрать действие" matTooltipPosition="left">
                                <i class="bi bi-three-dots"></i>
                            </span>
                            <mat-menu #menu="matMenu">
                                <span 
                                    class="action-item"
                                    role="button"
                                    tabindex="0"
                                    aria-pressed="false"
                                    (click)="deleteItem(item.id)"
                                    (keydown)="deleteItem(item.id)">
                                    <span>Удалить</span>
                                    <i class="bi bi-trash"></i>
                                </span>
                            </mat-menu>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table-header"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
            </table>
            </div>
        </ng-container>  
        <ng-container *ngIf="loadingInfo.isNoContent">
            <app-page-no-content [load]="reload"></app-page-no-content>
        </ng-container>
        <ng-container *ngIf="loadingInfo.isNotFound">
            <app-page-not-found [load]="reload"></app-page-not-found>
        </ng-container>
        <ng-container *ngIf="loadingInfo.isUnauthorized">
            <app-page-unauthorized></app-page-unauthorized>
        </ng-container>  
    </div>
    
    <div class="footer">
        <hr/>
        <app-pagination [model]="paginationInfo" (changed)="onPageChanged($event)"></app-pagination>
    </div>
</div>

<ng-template #progressBar>
    <mat-progress-bar class="mt-1" mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-template #headerLastItem>
    <hr class="mt-1">
</ng-template>


