<div class="header">
    <span class="content" mat-dialog-title>{{title}}</span>
    <span 
        class="close"
        role="button"
        tabindex="0"
        aria-pressed="false"
        (click)="close()" 
        (keydown)="close()" 
        matTooltip="Закрыть" matTooltipPosition="left">
        <i class="bi bi-box-arrow-in-right"></i>
    </span>
</div>

<form [formGroup]="form">
    <div class="was-validated info-row-fio mb-2">
        <label for="name">Наименование: </label>
        <input id="name" type="text" formControlName="name" class="form-control" placeholder="Введите название номенклатуры" required minlength="1">
        <span class="invalid-feedback" *ngIf="form.invalid">{{getErrorMessage("name")}}</span> 
    </div>    
</form>