@import 'src/variables';

.wsc-pager {
    
    article{
        min-width: 800px !important;
    }

    &-item {
        &.is-disabled {
           //opacity: 0; // скрывает элемент
            pointer-events: none;
            color: rgba(0, 0, 0, .38);
        }

        &-navigable {
            cursor: pointer;
            display: inline-block;

            border: none;
            background-color: white;

            &:hover {
                color: blue;
            }
        }
    }
}