.actions-panel {
    margin-top: 5px;

    .title {
        font-weight: 500;
        font-size: initial;
    }
}

.filters {
    display: flex;
    
    button {
        width: 40px;
        margin-left: 10px;
        height: var(--header-input-height);
    }
}

.last {
    margin-bottom: -8px;
}

.sc-table {

    .mat-column-select {
        width: 40px;
        padding: 0;
    }

    .mat-column-actions {
        text-align: center;
    }

    .table-header {
        font-size: var(--content-font-size);
        height: 28px;
    }

    .table-row {
        font-size: var(--content-font-size);
        height: var(--header-input-height);
    }

    .table-row:hover {
        cursor: pointer;
        background-color: #d8d8d8;
    }
}

.action-item {
    margin-left: 1px;
    margin-right: 1px;
    font-size: 14px !important;
    display: flex;
    justify-content: space-evenly;
}

.action-item:hover
{
    border-radius: 5px;
    background-color: #d8d8d8;
}

.no-content {
    display: flex;
    flex-direction: row;
    font-style: oblique;
}