.form-item{
    width: 100%;
    font-size: var(--content-font-size);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    input {
        font-size: var(--content-font-size);
        overflow: hidden;
    }
}

.mat-option {
    font-size: var(--content-font-size);
    min-height: 32px !important;
}
