<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Упс!</h1>
                <h2>
                    404 Not Found
                </h2>
                <div class="error-details">
                    Извините, произошла ошибка, запрошенная страница не найдена!
                </div>
                <div class="error-actions">
                    <button class="btn btn-primary btn-sm" (click)="return()"><span></span>
                        Вернуться на предыдущую страницу
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>