.tab-content {
    margin-top: 20px;
}

.mat-mdc-tab-header {
    margin-top: -0.5px;
}

.mdc-tab__content {
    margin-top: -5px;
}

.mat-pf-body{
  height: 100%;
  --mat-tab-animation-duration: 500ms;
}