@import 'src/variables';
:root {
  // устанавливаем базовые значения для боковой навигационной панели
  --navbar-width:250px !important;

  // будем использовать в боковой панели и в теле body класса content-side-panel, чтобы при сжатии окна браузера снизу не сползал элемент hr
  // если в боковой панели изменится кол-во вкладок, то надо пересмотреть данное значение
  --navbar-min-height:179px !important; 
  --navbar-height:640px !important; 

  --navbar-background-color:rgb(28, 26, 26);
  --content-padding: 5px 20px !important;
  --content-padding-bottom: 10px !important;
  --header-input-height:34px !important;
  --content-font-size:12px;
}

// центрируем все элементы по умолчанию 
* {
  margin: 0;
  padding: 0;
}

// TODO изменить на .mat-table
mat-label {
  font-size: $font-size-s;
}

hr {
  margin: 1rem 0;
  color: rgb(223, 204, 204);
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: .25;
}

.content-side-panel {
  position: absolute;
  top: 0;
  //font-size: $font-size-s;
  font-size: var(--content-font-size);
  padding: var(--content-padding);
  width: calc(100vw - var(--navbar-width));
  min-width: 800px !important; // чтобы при сжатии окна браузера не слетала разметка
  //height: 100vh; // растягиваем во всю высоту, использовать не будем,тк начинаются проблемы с разметками, если есть вложенные компоненты, берём 100%
  height: 100%; // растягиваем во всю высоту
  left: var(--navbar-width);

  // display: grid;  // шпаргалка по гриду https://tpverstak.ru/grid/
  // grid-template-rows: max-content;

  // отказываемся от грида в пользу flex, тк с flex раскрывается на всю свободную область mat-container,
  // при условии что унего не переопределена высота по умолчанию в 100%
  display: flex;
  flex-direction: column;

  // display: flex;
  // display: table;
  // чтобы стили последующих элементов не влияли на текущий
  overflow: auto;

  // если здесь не указать тип, то будут проблемы со стилями, например у type="checkbox"
  input[type="text"], input[type="number"], input[type="date"], input[type="time"], input[type="datetime"] {
    opacity: 0.8;
    // font-size: $font-size-s;
    font-size: var(--content-font-size);
    overflow: hidden;
  }

    .header {

      .header-content {
        margin-top: 5px !important;
        align-self: self-start;
        display: flex;
        flex-wrap: nowrap; //чтобы не переносились блоки на новую строку
        //flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        min-height: 37px !important;
        overflow: hidden;
      }

      .header-last-item {
        position: relative;
        height: 17px;
        // margin-top: 4px !important;
      }
    }

    .body{
      min-height: var(--navbar-min-height);
      //height: var(--navbar-height);
      height: 100%;
      overflow: hidden;
    }

    .footer {
      width: 100%;
      align-self: self-end;
      margin-bottom: 16.5px;
      max-height: 53.89px !important;  // чтобы не слетала разметка при уменьшении окна браузера
      min-height: 53.89px;
      overflow: hidden;
    }

}

button.tabs-link {
  text-align: left;
  width: 100%;
  min-width: 14.285rem;
  height: var(--global-height-navigation-bar);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--grey-70);
  padding: var(--indent-3) var(--indent-4);
  background-color: transparent;
  border: none !important;

  .tab-count {
      --size: 1.42857rem; // 20px
      --padding: .4285rem; // 6px
      height: var(--size);
      min-width: var(--size);
      padding: 0 var(--padding);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 0.9285714285714286rem; // 13px
      line-height: 0.9285714285714286rem; // 13px
      margin-left: var(--indent-2);
      color: var(--blue-grey-70);
      border-radius: 3.57rem; // 50px;
      background-color: var(--grey-20);
  }

  &:hover {
      border: none !important;
      background-color: var(--grey-5);
  }

  &.tabs-active-link {
      background-color: var(--grey-5);

      .tab-count {
          color: var(--grey-3);
          background-color: var(--blue-60);
      }
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
