@using System.Diagnostics

<div class="welcome-page">
    <h4>
        Добро пожаловать в Stock Control IdentityServer4
    </h4>

    <ul>
        <li>
            IdentityServer публикует
            <a href="~/.well-known/openid-configuration">документ, </a>
            где можно найти метаданные и ссылки на все конечные точки, ключевые материалы и т.д.
        </li>
        <li>
            Нажмите <a href="~/diagnostics">здесь</a>, чтобы просмотреть данные(роли, права и тд) пользователя для текущего сеанса.
        </li>
    </ul>
</div>
