<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Упс!</h1>
                <h2>
                    401 Unauthorized
                </h2>
                <div class="error-details">
                    Извините, произошла ошибка, учетные данные пользователя не найдены!
                    <br>
                    Невозможно обратиться к серверу для получения данных! 
                    <br>
                    Пожалуйста войдите в свой аккаунт или зарегистрируйтесть в системе!
                </div>
            </div>
        </div>
    </div>
</div>