mat-dialog-actions {
    margin-left: 17px;
}

mat-form-field {
    width: 100%;
    margin-top: 5px;
    font-size: var(--content-font-size);
}

mat-option {
  font-size: var(--content-font-size);
}

.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }

  .example-item {
    height: 50px;
  }